<!-- It's a handlebars template! hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  
  <!--  Include  -->
  {{> head }}
  
  <body class="center">

    <main>
      <!--    body of each page -->
      {{{ body }}}
    </main>
    
  </body>
  
</html>
